/* Variables */

// Base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

// Sidebar
$sideBarWidth: 210px;
$subMenuBg: #fff;
$subMenuHover: #001528;
$subMenuActiveText: #f4f4f5;
$menuBg: #fff;
$menuText: #fff;
// Also see settings.sidebarTextTheme linear-gradient(45deg, #ff9700, #ed1c24)
$menuActiveText: #fff;

// Login page
$lightGray: #eee;
$darkGray: #889aa4;
$loginBg: #2d3a4b;
$loginCursorColor: #fff;

// 主色调
$mainColor: #0080ff;
$subColor: #4da6ff;

// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:export {
  /* stylelint-disable property-no-unknown */
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  /* stylelint-enable property-no-unknown */
}
