// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition';
@import './svgicon';
@import './mixins';
@import './updateScrollerBar';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

label {
  font-weight: 700;
}

.app-container {
  z-index: 0;
  height: calc(100vh - 102px);
  min-height: 100%;
  padding: 15px;
  overflow-y: auto;
  background-color: #eff1f4;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px 0 0 0;
}

.components-container {
  position: relative;
  margin: 30px 50px;
}

// Refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

aside {
  display: block;
  margin-bottom: 20px;
  padding: 8px 24px;
  color: #2c3e50;
  font-size: 16px;
  line-height: 32px;
  background: #eef1f6;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fixed-width {
  .el-button--mini {
    width: 60px;
    padding: 7px 10px;
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;
  }
}

.text-center {
  text-align: center;
}

.sub-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  line-height: 50px;
  text-align: right;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );
  transition: 600ms ease position;

  .subtitle {
    color: #fff;
    font-size: 20px;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.no-padding {
  padding: 0 !important;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon {
  margin-right: 5px;
  font-size: 25px;
}
.detail-header {
  box-sizing: border-box;
  padding: 18px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6ebf5;
}
.detail-container {
  margin-bottom: 100px;
  padding: 20px;
}
.detail-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px 45%;
  background: #fff;
}

.el-card__header {
  font-weight: 600;
  background-color: #f9f9f9;
}
